{% extends 'base.html' %} {% block content %}
{% load static %}

<h1>{{ post.book_title }}<small class="text-body-secondary"> by {{ post.book_author }}</small></h1>

<figure class="text-center">
    <blockquote class="blockquote">
      <p class="mb-0">{{ post.fave_quote }}</p>
    </blockquote>
</figure>

<p>{{ post.content }}</p>

<h2>Comments</h2>
{% for comment in comments %}
<div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
  <p> {{ comment.author }} </p>
  <p id="comment{{ comment.id }}"> {{ comment.body | linebreaks }}</p>
  {% if not comment.approved and comment.author == user %}
  <p class="approval">
    This comment is awaiting approval
  </p>
  {% endif %}
</div>
{% endfor %}


{% endblock content %}